<h1>Event Edit Request</h1>

<p>{recipient} is requesting an edit to a previously submitted {type} ({type} #{id}). To see details about this event, see
	<a
	 href="http://records.nationalschoolproject.com/{type}/{id}">here</a>.
</p>
<br/>
<p>Here is the requested edit</p>
<p>{edit}</p>